[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "diseasemapping"]
	path = diseasemapping
	url = https://github.com/cran/diseasemapping
[submodule "geostatsp"]
	path = geostatsp
	url = https://github.com/cran/geostatsp
[submodule "mapmisc"]
	path = mapmisc
	url = https://github.com/cran/mapmisc
