[submodule ".registry"]
	path = .registry
	url = https://github.com/eborgnine/eborgnine.r-universe.dev
	branch = HEAD
[submodule "adlaplace"]
	path = adlaplace
	url = https://github.com/eborgnine/adlaplace
	subdir = adlaplace
[submodule "adlaplaceExample"]
	path = adlaplaceExample
	url = https://github.com/eborgnine/adlaplace
	subdir = adlaplaceExample
[submodule "hpolcc"]
	path = hpolcc
	url = https://github.com/eborgnine/adlaplace
	subdir = hpolcc
