[submodule ".registry"]
	path = .registry
	url = https://github.com/eborgnine/eborgnine.r-universe.dev
	branch = HEAD
[submodule "RCppAD"]
	path = RCppAD
	url = https://github.com/eborgnine/adlaplace
	branch = main
	subdir = RCppAD
[submodule "adlaplace"]
	path = adlaplace
	url = https://github.com/eborgnine/adlaplace
	branch = main
	subdir = adlaplace
[submodule "adlaplaceExample"]
	path = adlaplaceExample
	url = https://github.com/eborgnine/adlaplace
	branch = main
	subdir = adlaplaceExample
[submodule "adlaplaceFem"]
	path = adlaplaceFem
	url = https://github.com/eborgnine/adlaplace
	branch = main
	subdir = adlaplaceFem
[submodule "adlaplaceHgp"]
	path = adlaplaceHgp
	url = https://github.com/eborgnine/adlaplace
	branch = main
	subdir = adlaplaceHgp
[submodule "admvn"]
	path = admvn
	url = https://github.com/eborgnine/adlaplace
	branch = main
	subdir = admvn
[submodule "diseasemapping"]
	path = diseasemapping
	url = https://github.com/r-forge/diseasemapping
	subdir = pkg/diseasemapping
[submodule "geostatsp"]
	path = geostatsp
	url = https://github.com/r-forge/diseasemapping
	subdir = pkg/geostatsp
[submodule "hpolcc"]
	path = hpolcc
	url = https://github.com/eborgnine/adlaplace
	branch = main
	subdir = hpolcc
[submodule "mapmisc"]
	path = mapmisc
	url = https://github.com/r-forge/diseasemapping
	subdir = pkg/mapmiscTerra
